.twoImage {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid black; */
    padding: 30px;
    text-align: left;
}

.twoImage .two-left-col {
    flex-basis: 47%;
    align-self: flex-start;
    /* border: 2px solid red; */
}

.twoImage .two-right-col {
    flex-basis: 47%;
    /* border: 2px solid red; */
}

.twoImage .two-left-col img {
    width: 110%;
    max-width: 650px;
    object-fit: cover;
    transition: transform 0.5s;
    cursor: pointer;
}

.twoImage .two-right-col img {
    width: 97%;
    object-fit: cover;
    transition: transform 0.5s;
    cursor: pointer;
}

.twoImage .two-right-col img:hover {
    transform: scale(1.111);
}

.twoImage .two-left-col img:hover {
    transform: scale(1.111);
}

.twoImage .person-details p {
    font-size: 28px;
    font-weight: 400;
}

.twoImage .circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #773710;
    border-radius: 50%;
}


/* Mobile-responsive CSS */

@media only screen and (max-width: 768px) {
    .twoImage {
        flex-direction: column;
        /* Stack columns on top of each other for mobile */
        align-items: center;
        /* Center-align content on mobile */
        padding: 20px;
        /* Adjust padding for mobile */
    }
    .twoImage .two-left-col,
    .twoImage .two-right-col {
        flex-basis: 100%;
        /* Full width for mobile */
        text-align: center;
        /* Center-align text on mobile */
        margin-bottom: 20px;
        /* Adjust margin for mobile */
    }
    .twoImage .two-left-col img,
    .twoImage .two-right-col img {
        width: 100%;
        /* Full width for mobile */
        max-width: none;
        /* Reset max-width for mobile */
    }
    .twoImage .person-details p {
        font-size: 24px;
        /* Adjust font size for mobile */
    }
    .twoImage .circle {
        height: 10px;
        /* Adjust circle size for mobile */
        width: 10px;
        /* Adjust circle size for mobile */
    }
}