.OneImage {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid black; */
    padding: 30px;
    text-align: left;
}

.OneImage img {
    width: 100%;
    max-width: 800px;
    cursor: pointer;
    transition: transform 0.5s;
}

.OneImage img:hover {
    transform: scale(1.111);
}

.OneImage .person-details {
    align-self: flex-start;
}

.OneImage .person-details p {
    font-size: 28px;
    font-weight: 400;
}

.OneImage .circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: #773710;
    border-radius: 50%;
}


/* Mobile-responsive CSS */

@media only screen and (max-width: 768px) {
    .OneImage {
        align-items: center;
        /* Center-align content on mobile */
        text-align: center;
        /* Center-align text on mobile */
    }
    .OneImage img {
        width: 100%;
        /* Full width for mobile */
        max-width: none;
        /* Reset max-width for mobile */
    }
    .OneImage .person-details {
        align-self: center;
        /* Center-align person-details on mobile */
    }
    .OneImage .person-details p {
        font-size: 24px;
        /* Adjust font size for mobile */
    }
    .OneImage .circle {
        height: 10px;
        /* Adjust circle size for mobile */
        width: 10px;
        /* Adjust circle size for mobile */
    }
}