.scroller {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    z-index: 100;
    background: #FFFBEB;
    /* Adjust the width as needed */
    overflow-y: none;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    background: #FFFBEB;
    /* height: 350px; */
}

.scroll-container {
    display: flex;
    gap: 20px;
    /* animation: scroll 20s linear 1s infinite; */
    /* Adjust duration (10s) as needed */
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
        /* Start scrolling from right to left */
    }
    100% {
        transform: translateX(-100%);
        /* Scroll to the end (left) */
    }
}

.scroll-image {
    /* border: 1px solid black; */
    width: 1200px;
    height: auto;
    text-transform: uppercase;
    text-align: left;
}

.scroll-image img {
    max-width: 900px;
    height: auto;
}

.scroll-image .blob {
    width: 9px;
    display: inline;
}

.scroll-image div {
    margin-top: 4px;
    font-size: 12px;
}


/* Mobile-responsive styles */

@media (max-width: 768px) {
    .scroller {
        /* Adjust styles for smaller screens */
        white-space: nowrap;
        height: auto;
        /* Remove fixed height */
        /* overflow-x: scroll; */
    }
    .scroll-container {
        display: flex;
        gap: 20px;
        /* Keep scrolling animation if desired */
        /* animation: scroll 20s linear 1s infinite; */
    }
    .scroll-image {
        width: 600px;
        /* Full width for mobile */
        height: auto;
        /* Automatically adjust height */
        text-transform: uppercase;
    }
    .scroll-image img {
        max-width: 300px;
        height: auto;
    }
}